[Desktop Entry]
Version=1.0
Type=Application
Name=SMB Browser
Comment=Samba Share Browser
Exec=/usr/bin/SMBbrowse.py
Icon=network-server
Path=
Terminal=false
Categories=Utility;
StartupNotify=false
